@font-face {
    font-family: 'ITCAvanteGardeStd';
    src: url('/font/ITCAvantGardeStd-Bk.woff'),
         url('/font/ITCAvantGardeStd-Bk.woff2')
}

* {
    font-family: 'ITCAvanteGardeStd';
}


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #ececec;
}

.gradient {
    background: linear-gradient(90deg, #24343f 0%, #54749c 50%, #90c4fc 100%);
}


.header-img {
    filter: invert(100%);
    height: 50px !important;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enlace{
    color: #737373;
    text-decoration: none;
    font-weight: bolder;
}

.error {
    color: red;
    font-size: 0.875rem;
  }
  
  
  .contrast-body{
      background-color: rgb(46, 46, 46) !important;
      color: white;
  }
  
  .contrast-btn-primary{
      background-color: yellow;
      color: black;
      border: none;
      padding: .5rem;
      border-radius: 10%;
      width: 4.5rem;
  }
  
  .contrast-btn-primary:hover{
      background-color: orange;
  }

  .card-img-top {
    max-height: 350px;
  }

  .card-button {
    max-height: 40px;
  }

  .carousel-item {
    max-height: 700px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-img {
    height: auto;
    object-fit: cover;
  }

  .carousel-caption > .btn {
    font-size: 2rem;
  }

  
@media only screen and (max-width: 600px) {
    .carousel-item {
        height: 100vh;
    }

    .carousel-img {
        height: auto;
    }
    .carousel-caption > .btn {
        font-size: 1rem;
    }
}


.nav-mark{
    color: #a71717;
    font-weight: bold;
}


.nav-link{
    color: #fff ;
}

.nav-black{
    color: black !important;
}

.carrito-img{
    height: 80px;
    padding: 0;
    margin: 0;
}

.carrito{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

.carrito-item{
    
    display: flex;
    align-items: center;
    width: 24rem;
    gap: 1rem;
    border: solid 1px #c9c9c9;
    padding: 0 1rem ;
}

.carrito-item button{
    width: auto;
}

.carrito-info{
    font-size: 1rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.confirmar{
    margin-top: 1rem;
    width: 10rem;
}

.eliminar{
    z-index: 1;
}

.titleShop{
    width: 15rem
}



/* Media query para ocultar el carrito en pantallas pequeñas (máximo 768px de ancho) */
@media (max-width: 1520px) {
    
}

@media (max-width: 768px) {
    
}
