@font-face {
    font-family: 'ITCAvanteGardeStd';
    src: url('/font/ITCAvantGardeStd-Bk.woff'),
         url('/font/ITCAvantGardeStd-Bk.woff2')
}

* {
    font-family: 'ITCAvanteGardeStd';
}

.gradient {
    background: linear-gradient(90deg, #24343f 0%, #54749c 50%, #90c4fc 100%);
}


.header-img {
    position: relative;
    top: 50px;
    filter: invert(100%);
}

.section-img {
    max-width: 30px;
    top: 0;
}
